# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Clever Marketing\Dr-saber-portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
